* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

#lag {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
}
.forside {
  background-color: black;

  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 0px;
  padding: 15px;
}

.tekstOmMeg {
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: none;
  color: white;
  font-weight: normal;
  padding: 2%;
}

h2 {
  font-style: normal;
  font-size: 70px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  padding: 2%;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }
}

.pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.visuell {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 21px;
}

.prosjekt_container {
  display: flex;
  flex-direction: row;
  row-gap: 25px;
  height: 100%;
  width: auto;
  background: linear-gradient(to top, #7a2804, #161313);
}

.pro {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.prosjekter4 {
  background-color: bisque;
}

.prosjektere5 {
  background-color: rgb(60, 106, 31);
}

#prosjekt20 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: auto;
  background: linear-gradient(to top, #161313, #7a2804);
  text-align: center;
  gap: 10px;
  padding: 10px;
}

@media (max-width: 768px) {
  #prosjekt20 {
    display: block;
  }
}

.prosjektKort {
  background-color: #3d4042;
  border: 5px solid #6f97d0;
  border-radius: 10px;
  padding: 20px;
  /* width: 200px; */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  height: auto;
}

.prosjektBilde {
  aspect-ratio: 5/4;
  object-fit: cover;
  overflow: hidden;
  border-radius: 3rem;
  padding: 2rem;
}

.prosjektBilde {
  transition: transform 0.3s ease;
}

.prosjektBilde:hover {
  transform: scale(1.1);
}

p {
  font-style: normal;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: none;
  color: white;
  font-weight: normal;
}

h1 {
  font-style: normal;
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 2%;
}
