* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.All {
  width: 100%;
  height: auto;
  background: linear-gradient(to top, #161313, #7a2804);
  text-align: center;
  gap: 10px;
}

#sid2 {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  min-height: 100vh;
}
.BotBot {
  width: 100%;
  height: auto;
  border-radius: 40px;
  padding: 25px;
}

.tekst_om_robot {
  font-style: normal;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: none;
  color: white;
  font-weight: normal;
}
